services:
  - type: web
    name: kakomon-database
    runtime: ruby
    buildCommand: gem install bundler:2.6.2 && bundle install && bundle exec rake db:migrate
    startCommand: bundle exec ruby app.rb -o 0.0.0.0 -p $PORT
    envVars:
      # - key: DATABASE_URL
      #   fromDatabase:
      #     name: kakomon-db
      #     property: connectionString
      - key: "dxtcmrp4l"
        sync: false
      - key: "846387163656961"
        sync: false
      - key: "N6YrZHJQZud91O4ekrsw6HJcQuE"
        sync: false

databases:
  - name: kakomon-db
    databaseName: kakomon_database
    user: kakomon_user
