<link rel="stylesheet" href="/styles/detail.css" type="text/css">

<div class="body">
    <% @post.images.each do |image| %>
        <object data="<%= image.main_image_url %>" width="100%" style="height:auto; min-height:1000px;">
            <iframe src="<%= image.main_image_url %>" width="100%" height="100%">
        </object>
    <% end %>
    
    <h3>解答</h3>
    <% @post.images.each do |image| %>
        <object data="<%= image.sub_image_url %>" width="100%" style="height:auto; min-height:500px;"></object>
    <% end %>

    <form method="post" action="/id/<%= @post.id %>/delete">
        <button type="submit" class="delete-button">この投稿を削除</button>
    </form>
</div>
