.body {
  padding: 0 5%;
  margin-top: 30px;
  position: relative;
}
.image-object {
  height: auto;
  min-height: 1000px;
  margin-bottom: 100px;
}
.delete-button {
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #dc143c;
  border-style: none;
  border-radius: 6px;
  padding: 0 15px;
}
