.body {
  padding: 0 5%;
  margin-top: 30px;
  position: relative;
}
.image-object {
  height: auto;
  min-height: 1000px;
  margin-bottom: 100px;
}
.delete-button {
  position: absolute;
  right: 30px;
  bottom: 36px;
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #dc143c;
  border: none;
  border-radius: 8px;
  padding: 0 15px;
  cursor: pointer;
}
