.body {
  padding: 0 3%;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
}
.posts {
  height: 60px;
  background-color: #efefef;
  margin: 8px;
  display: flex;
  align-items: center;
  padding-left: 12px;
  border-radius: 6px;
  font-size: 18px;
}
.button {
  height: 45px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  background-color: #0067c0;
  border-style: none;
  border-radius: 6px;
  padding: 0 15px;
}
.button:hover {
  color: #0067c0;
  background-color: #fff;
  border: 3px solid #0067c0;
}

.button-container {
  display: flex;
  justify-content: center;
}
.upload-button {
  position: absolute;
  margin-top: 15px;
  height: 60px;
  font-size: 30px;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  margin-top: 5%;
  width: 70%;
  max-width: 500px;
  min-width: 300px;
  /* height: 570px; */
  background-color: #fff;
  border-radius: 15px;
  padding: 3%;
}
.file-select {
  margin: 20px 0;
}
.file-selector {
  text-align: center;
  height: 300px;
  background-color: #efefef;
  border-radius: 10px;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.modal-buttons {
  text-align: center;
}
.modal-button {
  scale: 120%;
  margin-right: 20px;
}

select {
  padding: 3px;
  font-size: 15px;
  border-radius: 5px;
  height: 45px;
}
.posts-container {
  width: 85%;
  margin-left: 20px;
}
.filter-container {
  display: flex;
  width: 15%;
}
.filter {
  position: relative;
  right: 0;
  margin: 0 10px 10px 0;
}
label {
  background-color: #0067c0;
  color: #efefef;
  border-radius: 8px;
  padding: 3%;
  font-weight: bold;
  font-size: 20px;
}
label input {
  display: none;
}

.memo {
  background-color: #efefef;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid;
}
.subject-select {
  height: 40px;
  border-radius: 5px;
  border: 1px solid;
}

p {
  margin-bottom: 3px;
}

#fileList {
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
}

#fileList li {
  margin: 0.25rem 0;
}

#fileList a {
  color: #1a73e8; /* 青色リンク */
  text-decoration: underline; /* 下線付き */
  cursor: pointer;
  font-weight: 500;
}

#fileList a:hover {
  color: #0c47a1; /* ホバーで濃い青に */
  text-decoration-thickness: 2px; /* 下線を太く */
}
