a {
  text-decoration: none;
  color: #2a2a2a;
}
li {
  list-style: none;
}
.header {
  display: flex;
  position: relative;
  padding-top: 20px;
}
.title {
  font-size: 30px;
  font-weight: bold;
  padding-left: 15px;
}
